#container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    height: 100%;
    width: 100%;
}

.square {
    background-color: lightblue;
    border-style: solid;
    height: 100%;
    width: 100%;
}

.square.enter {
    background-color: black;
}